li{
    border: 4px solid;
    display:inline-block;
    margin: 3em;
    width: auto;
    background-color:cyan;
   color:bisque
   
   
   
   
}
a{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
    color:black;
    text-decoration: none;
    padding: 32px;
    display: block;
    font-size: 200%;
    
}
a:hover{
    background-color: pink;
    color:bisque
    
    
}
.Content{
    border:  solid;
    background-color: aqua;
    color: blueviolet;
}
.name {
    font-size: 300%;
}
.Content2 {
    border: red solid;
    background-color: aquamarine;
    color:red
}
body{
    background-color: lightblue;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}
.q{

    background-color: aliceblue;
    color:bisque
    
    
}
.w{
    background-color: aliceblue;
    color:bisque
}
.e{
    background-color: aliceblue;
    color:bisque
}
table {
    border: solid;
}